.section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.section h1 {
  text-align: center;
  font-size: 5rem;
}
.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 410px) {
  .section h1 {
    font-size: 3rem;
  }
}
