.section {
  width: 90%;
  margin: 10rem auto;
}
.heading {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 5rem;
}

.container {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
}

.details {
  flex-basis: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem 3rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.city {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
}

.weatherInfoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.label img {
  width: 2rem;
}

.value {
  font-size: 1.1rem;
  flex-grow: 1;
}

.mapContainer {
  flex: 1;
  height: 100%;
  position: relative;
}

.open-Details {
  display: none;
  background-color: white;
  color: green;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Media Query */

@media (max-width: 916px) {
  .details {
    flex-basis: 28rem;
  }
}

@media (max-width: 660px) {
  .section {
    width: 95%;
  }
  .container {
    flex-direction: column;
  }

  .weatherInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .details {
    padding: 2rem 5px;
  }
}

@media (max-width: 541px) {
  .heading {
    font-size: 4rem;
  }
  .label {
    font-size: 1rem;
    font-weight: bold;
  }

  .label img {
    width: 1.5rem;
  }

  .value {
    font-size: 1.1rem;
    flex-grow: 1;
  }

  .weatherInfo {
    column-gap: 1rem;
  }
}

@media (max-width: 487px) {
  .details {
    max-width: 100%;
  }
  .label {
    font-size: 10px;
    font-weight: 530;
  }

  .value {
    font-size: 8px;
  }
}

@media (max-width: 410px) {
  .heading {
    font-size: 3rem;
  }
  .container {
    position: relative;
    height: 80.3vh;
  }

  .open-Details {
    display: block;
    z-index: 999;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .animate-details {
    position: absolute;
    top: 0;
    right: 0;

    background: rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(10px);

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    height: 100%;

    width: 80%;

    transform: translateX(100%);
    transition: all 0.5s ease-in;
    border-radius: 10px;

    padding: 2rem 0 2rem 1.5rem;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
  }

  .show-details .animate-details {
    z-index: 10;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    transform: translateX(0%);
  }

  .weatherInfo {
    display: flex;
    flex-direction: column;
  }

  .weatherInfoItem {
    margin-bottom: 6px;
  }

  .label {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .label img {
    width: 2rem;
  }

  .value {
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
  .city {
    font-size: 10px;
    font-weight: 540;
    margin-bottom: 1rem;
  }

  .label {
    font-size: 1rem;
    font-weight: 530;
    margin-right: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .label img {
    width: 2rem;
  }

  .value {
    font-size: 1.2rem;
  }
}
