.heading {
  text-align: center;
  font-size: 3rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.section {
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  /* margin-bottom: 10rem; */
  padding: 8rem 2rem;
}

.bg {
  padding: 10rem 0;
  /* background: linear-gradient(to right, #87ca69, #a8e890); */
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  background: linear-gradient(#e66465, #9198e5);
  /* background-image: url("./../../public/images/bg-nature.png"); */
  /* background-color: orange; */
  background-size: cover;
  background-repeat: no-repeat;
}

/* Media Query */

@media (max-width: 425px) {
  .section {
    margin: 0 1rem;
  }
  .bg {
    padding: 5rem 0;
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
  }
}
