.section {
  background-color: gray;
  padding: 4rem 6rem;

  background: rgba(128, 128, 128, 0.237);
  backdrop-filter: blur(10px);
  border-radius: 10px;

  max-width: 100%;
  box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.4),
    0 1px 3px rgba(255, 255, 255, 0.4);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
