.section {
  display: flex;
  gap: 5rem;
}

.heading {
  margin-top: 13rem;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 5rem;
}

.options {
  color: black;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  padding: 3rem 4rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.options a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.options a:link {
  background-image: linear-gradient(to right, #c5ebaa, #a5dd9b);
  padding: 1rem 1.2rem;
  border-radius: 5px;
  display: block;
  color: inherit;
  transition: all 5000;
}

.options a:hover {
  background-image: linear-gradient(to right, #d5f0c1, #aad9bb);
  color: white;
}

.options a:global(.active) {
  background-image: linear-gradient(to right, green, green);
  color: white;
}

.calci-bg {
  box-shadow: -10px 10px 10px 0 rgba(52, 50, 50, 0.315);
  width: 75%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
}

.empty-outlet {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 550;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calci-area {
  padding: 4rem 0;
}

.ai {
  background-color: green;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  animation: changeBackground 5s infinite;
  transition: all 0;
}

.ai-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes changeBackground {
  0% {
    background: linear-gradient(45deg, #c5ebaa, #a5dd9b);
  }
  50% {
    background: linear-gradient(45deg, #bfea7c, #9bcf53);
  }
  100% {
    background: linear-gradient(45deg, #c1f2b0, #65b741);
  }
}

@media (max-width: 1040px) {
  .section {
    gap: 2rem;
  }

  .options {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 890px) {
  .section {
    flex-direction: column;
    align-items: center;
  }

  .options {
    flex-direction: row;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    gap: 1rem;
    width: 100%;
  }

  .calci-bg {
    width: 90%;
    padding-bottom: 4rem;
  }
}

@media (max-width: 660px) {
  .empty-outlet {
    font-size: 1.5rem;
  }
}

@media (max-width: 541px) {
  .heading {
    font-size: 4rem;
  }
}

@media (max-width: 470px) {
  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .empty-outlet {
    font-size: 1.3rem;
  }
}

@media (max-width: 410px) {
  .heading {
    font-size: 3rem;
  }
}

@media (max-width: 350px) {
  .options {
    padding: 8px 1.2rem;
    font-size: 1.2rem;
    gap: 1rem;
    width: 100%;
  }
}
