.section {
  display: flex;
  margin-top: 5rem;
  /* background-image: linear-gradient(to left top, #d4e7c5, #bfd8af); */
  background-image: linear-gradient(to left top, #b0d9b1, #79ac78);
  padding: 5rem 5rem;
  justify-content: space-between;
}
.section li {
  list-style: none;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logoImg {
  width: 10rem; 
  height: auto; 
}

.title {
  margin-top: 10px; 
  font-size: 2rem; 
  font-weight: bold;
}


.info {
  display: flex;
  gap: 18rem;
}

.fast ul a:link,
.fast ul a:visited {
  color: white;
}
.info a:link {
  font-size: 1.8rem;
  color: inherit;
  line-height: 2.4rem;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.contactImg {
  width: 2.8rem;
  border-radius: 70%;
}
.footerHeading {
  font-size: 1.8rem;
  margin-bottom: 1.3rem;
}
.contact ul {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

@media (max-width: 773px) {
  .info {
    gap: 5rem;
  }
}

@media (max-width: 600px) {
  .section {
    padding: 5rem 2rem;
  }

  .logoImg {
    width: 8rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .footerHeading {
    font-size: 1.5rem;
  }

  .contactImg {
    width: 2.5rem;
  }

  .contact ul {
    gap: 1.5rem;
  }
}

@media (max-width: 490px) {
  .section {
    align-items: flex-start;
  }
  .info {
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
  }
}
