.header-section {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.scrolled {
  background-color: white;
}

.logo {
  max-width: 75px;
  height: auto;
  border-radius: 10px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.6rem;
  color: green;
}

.nav-bar li {
  background: rgba(120, 113, 113, 0.153);
  border-radius: 5px;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  font-size: 2rem;
  color: green;
  margin-top: 1.4rem;
}

@media (max-width: 660px) {
  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }
  .nav-bar {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    border-radius: 5px;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .menu-open .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
  }
}

.nav-bar a:hover,
.nav-bar li:hover {
  background-color: green;
  color: white;
  border-radius: 5px;
}

.nav-bar a:link,
.nav-bar a:visited {
  padding: 1.5rem 2.5rem;
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.5rem 2rem;
  border-radius: 5px;
}

.nav-bar a:global(.active) {
  background-color: green;
  color: white;
}
.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: green;
}
.logo-container {
  display: flex;
  align-items: center;
}
