.btn {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  background-image: linear-gradient(
    to right,
    rgb(172, 226, 225),
    rgb(65, 201, 226)
  );
  border-radius: 5px;
  color: white;
}

.btn:hover {
  background-image: linear-gradient(
    to right,
    rgb(172, 226, 225, 0.7),
    rgb(65, 201, 226, 0.7)
  );
}
